

header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	height: 40px;
	width: 1905px;
}
header .deg {
	top: 40px;
	position: absolute;
	width: 1905px;
	height: 41px;
	background: linear-gradient(180deg, #000000 0%, #2E2831 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home {
	top: -30px;
	position: absolute;
	font-size: 40px;
	left: 50%;
	transform: translate(-50% , 0%);
}

.file {
	top: -20px;
	position: absolute;
	left: 45%;
	transform: translate(-45% , 0%);
}

.menu {
	top: -20px;
	position: absolute;
	left: 3%;
}

.panel {
	top: -20px;
	position: absolute;
	left: 58%;
	transform: translate(-58% , 0%);
}

.login {
	top: 10px;
	width: 40px;
	height: 40px;
	left: 95%;
}

header div {
	width: 167px;
	height: 53px;
	font-size: 30px;
	line-height: 61px;
	top: 0;
	position: absolute;
	color: #FFFFFF;
}



body {
	background-image: url("background.png");
	width: 1890px;
	height: 4214px;
}


body .bar {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	position: relative;
	width: 1030px;
	height: 70px;
	top: 20%;
	left: 50%;
    transform: translate(-50% , 0%);

}

.alldocs {top: 15px;left: 20px;}
.caja {top: 15px;left: 70px;}
.discord {top: 15px;left: 120px;}
.deezer {top: 15px;left: 170px;}
.firefox {top: 15px;left: 220px;}
.gimp {top: 15px;left: 270px;}
.gnome-terminal {top: 15px;left: 320px;}
.google {top: 15px;left: 370px;}
.heroic {top: 15px;left: 420px;}
.idea {top: 15px;left: 470px;}
.konsole {top: 15px;left: 520px;}
.libreoffice {top: 15px;left: 570px;}
.minecraft {top: 15px;left: 620px;}
.nautilus {top: 15px;left: 670px;}
.shotcut {top: 15px;left: 720px;}
.steam {top: 15px;left: 770px;}
.sublimetext {top: 15px;left: 820px;}
.tor {top: 15px;left: 870px;}
.vscode {top: 15px;left: 920px;}
.cajaAdmin {top: 15px;left: 970px;}

body div div {
	justify-content: space-around;
  position: absolute;
  transition: transform .2s; /* Animation */
  width: 40px;
  height: 40px;

}

body .bar div:hover {transform: scale(1.5);}

.infos {
	position: relative;
	top: 1000PX;
	left: 10%;
  ransform: translate(-50% , 0%);
}

.redemarrer {left: 125px;top: 165px;}
.mev {left: 125px;top: 265px;}
.eteindre {left: 125px;top: 365px;}

body .infos .buttons div{
	background-color: #201B22;
	color: #6C6363;
	width: 247px;
	height: 68px;
	font-size: 30;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

body .infos .buttons div:hover {transform: scale(1.5);}
body .infos div p{top: 50%;transform: translate(0% , -50%);}
.buttons {position: absolute;top: 0;}

body .infos .wegets{
	top: 160px;
	left: 510px;
	position: absolute;
	width: 800px;
	height: 300px;
}

body .infos .wegets div{
	width: 211px;
	height: 300px;
	font-size: 30;
	text-align: center;
	color: #6C6363;
}
.utilisateur{top: 0;left: 0;}
.batterie{top: 0;left: 325px;}
.stocage{top: 0;left: 650px;}


.ligne {
	position: absolute;
	left: 13%;
	top: 25px;
	width: 161px;
	height: 2px;
	background-color: #6C6363;
}

.projetsText{
	top: 0;
	left: 0;
}

.projets{
	position: absolute;
	top: 1800px;
	left: 11%;
	width: 1000px;
	height: 600px;
}
